.about {
    height: 100vh;

    &__content {
        padding: 4.8rem 2rem 4.5rem;
        height: 40%;
        // width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content__header {
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 0.275rem;
            margin-bottom: 0.8rem;
        }
    }

    &__header-image {
        height: 31%;
        width: 100%;
        background: url('../img/image-about-dark.jpg') no-repeat;
        background-size: cover;

    }

    &__footer-image {
        height: 30%;
        width: 100%;
        background: url('../img/image-about-light.jpg') no-repeat;
        background-size: cover;
    }
}

@include media-lg{
    .about{
        height: 33.2vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        &__content{
            padding: 0;
            height: 100%;
            // width: 36.5%;
            // flex: 0.405;
            box-sizing: border-box;
            display: flex;
            align-content: center;
            * {
                padding: 0 3rem;
            }
        }
        &__header-image{
            height: 100%;
            width: calc(42.5% - 160px);
        }
        &__footer-image{
            height: 100%;
            // flex: 0.305;
            width: calc(42.5% - 160px);
        }
    }
}
// @include media-md{
//     .about{
//         &__content{
//             width: 50%;
//         }
//     }  
// }
@include media-xl{
    .about{
        &__content{
            width: 40%;
        }
    }
}