.about {
    height: 100vh;

    &__content {
        padding: 4.8rem 2rem 4.5rem;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content__header {
            text-transform: uppercase;
            font-size: 0.8rem;
            letter-spacing: 0.275rem;
            margin-bottom: 0.8rem;
        }
    }

    &__header-image {
        height: 31%;
        width: 100%;
        background: url('../img/image-about-dark.jpg') no-repeat;
        background-size: cover;

    }

    &__footer-image {
        height: 30%;
        width: 100%;
        background: url('../img/image-about-light.jpg') no-repeat;
        background-size: cover;
    }
}