.home {
    height: 100vh;

    &__slider {
        width: 100%;
        height: 47%;
        display: flex;
        position: relative;
        z-index: 0;
        .slide {
            display: none;
            height: 100%;
            width: 100%;
            @include transition-ease;
            opacity: 0;
            &_active {
                position: relative;
                z-index: 1;
                display: inline;
                visibility: visible;
                height: 100%;
                width: 100%;   
                opacity: 1; 
            }
            &:nth-of-type(1){
                background: url('../img/mobile-image-hero-1.jpg') no-repeat;
                background-size: 100% 100%;
            }
            &:nth-of-type(2){
                background: url('../img/mobile-image-hero-2.jpg') no-repeat;
                background-size: cover;
            }
            &:nth-of-type(3){
                background: url('../img/mobile-image-hero-3.jpg') no-repeat;
                background-size: cover;
            }
        }
        .slider__button{
            position: absolute;
            height: 56px;
            width: 56px;
            bottom: 0;
            z-index: 2;
            &_prev{
                background: url('../img/icon-angle-left.svg') no-repeat, rgba($color: black, $alpha: 1);
                background-size: 20%, 100%;
                background-position: center;
                right: 56px;
            }
            &_next{
                background: url('../img/icon-angle-right.svg') no-repeat, rgba($color: black, $alpha: 1);
                background-size: 20%, 100%;
                background-position: center;
                right: 0;
            }
        }
    }
}